<div class="container">
  <h1>Duración del Anuncio en Días</h1>

  <form  (ngSubmit)="onSubmit()">
    <!-- Ingresar la duración en días (hasta 4 duraciones diferentes) -->
    <div class="section">
      <label for="duracion1">Duración en días 1</label>
      <input type="number" id="duracion1" name="duracion1" [(ngModel)]="duracion1" placeholder="Ingrese la cantidad de días" min="0" />
    </div>

    <div class="section">
      <label for="duracion2">Duración en días 2</label>
      <input type="number" id="duracion2" name="duracion2" [(ngModel)]="duracion2" placeholder="Ingrese la cantidad de días" min="0" />
    </div>

    <div class="section">
      <label for="duracion3">Duración en días 3</label>
      <input type="number" id="duracion3" name="duracion3"  [(ngModel)]="duracion3" placeholder="Ingrese la cantidad de días" min="0" />
    </div>

    <div class="section">
      <label for="duracion4">Duración en días 4</label>
      <input type="number" id="duracion4" name="duracion4"  [(ngModel)]="duracion4" placeholder="Ingrese la cantidad de días" min="0" />
    </div>

    <!-- Botón para guardar los datos -->
    <div class="section">
      <button type="submit">Guardar Configuración</button>
    </div>
  </form>
</div>
