
<nav class="navbar">
  <div class="navbar-container">
    <a class="navbar-logo" >REVISTAS HUB</a>
    <ul class="navbar-menu">
      <!-- Configuración de precios de anuncios con menú desplegable -->

      <li class="navbar-item dropdown">
        <a class="navbar-link" >Mis revistas</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-link" routerLink="/configuracionRevistas">Configuración de permisos de revistas</a></li>
          <li><a class="dropdown-link" routerLink="/RepostesEditor">Reportes</a></li>

        </ul>
      </li>

      <li class="navbar-item dropdown">
        <a class="navbar-link" >Crear</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-link" routerLink="/CrearRevista">Crear Revista</a></li>
          <li><a class="dropdown-link" routerLink="/CrearArfticulo"> Crear articulo</a></li>

        </ul>
      </li>


      <li class="navbar-item">

        <a class="navbar-link" routerLink="/RecargarSaldoEditor" >Recargar Saldo</a>
      </li>
      <li class="navbar-item">
        <a class="navbar-link" routerLink="/bloqueoAdss" >bloqueo de adds</a>
      </li>
      <li class="navbar-item">
        <a class="navbar-link" routerLink="/perfil">Mi perfil</a>
      </li>

    </ul>
  </div>
</nav>

<h1>REVISTAS HUB</h1>
<h1 class="h12">Editor</h1>

<router-outlet></router-outlet>

<div class="confirm-container" *ngIf="panelLogout">
  <div class="confirm-box">
    <!-- Ícono de pregunta -->
    <i class="fas fa-question-circle question-icon"></i>
    <h2>¿Estás seguro de que deseas cerrar sesión?</h2>
    <div class="buttons">
      <button (click)="confirmLogout()" class="btn btn-confirm">Sí, cerrar sesión</button>
      <button (click)="cancelLogout()" class="btn btn-cancel">No, regresar</button>
    </div>
  </div>
</div>
