
<div class="titulo">Revistas mas comentadas</div>

<div class="panel-fechas">
  <h3>Generar Reporte de Comentarios</h3>

  <form (submit)="obtenerReporteGenerar()">
    <!-- Campo de fecha de inicio -->
    <label for="fechaInicio">*Fecha de Inicio:</label>
    <input type="date" id="fechaInicio" [(ngModel)]="fechaInicio" name="fechaInicio" required>

    <!-- Campo de fecha de fin -->
    <label for="fechaFin">*Fecha de Fin:</label>
    <input type="date" id="fechaFin" [(ngModel)]="fechaFin" name="fechaFin" required>

    <label for="revista">Revista (opcional):</label>


    <!-- Botón para generar el reporte -->
    <button type="submit" class="btn-generar">Generar Reporte</button>
  </form>
</div>

<div class="panelRespote"  *ngIf="panelReporte">
  <ng-container *ngIf="revistas.length > 0; else noComentario">
    <div *ngFor="let revista of revistas; let i=index">
      <label class="etiqueta">Revista:</label>
      <p class="dato">{{revista.titulo}}</p>
      <br>
      <label class="etiqueta">Autor:</label>
      <p class="dato">{{revista.autor}}</p>
      <br>
      <label class="etiqueta">Id asociado:</label>
      <p class="dato">{{revista.idRevista}}</p>
      <br>
      <label class="etiqueta">Publicación:</label>
      <p class="dato">{{obtenerFechaLegible(revista.fechaPublicacion)}}</p>

      <table>
        <tr>
          <th>ID COMENTARIO</th>
          <th>USUARIO</th>
          <th>REVISTA ASOCIADA</th>
          <th>COMENTARIO</th>
          <th>PUBLICACIÓN</th>
        </tr>

        <tr *ngFor="let comentario of Comentarios[i]">
          <td>{{comentario.idComentario}}</td>
          <td>{{comentario.idUsuario}}</td>
          <td>{{comentario.idRevista}}</td>
          <td class="u">{{comentario.comentario}}</td>
          <td>{{obtenerFechaLegible(comentario.fecha)}}</td>
        </tr>
      </table>

      <hr style="border: 1px solid #0b1e5c; margin: 20px 0;">
    </div>
  </ng-container>

<ng-template #noComentario>
  <p>Se el primero en comentar!!!</p>
</ng-template>
</div>


<a
[href]="pdfVisualizacion"
[download]="nombreReporte"
target="_blank"
class="btn-descargar"
*ngIf="panelReporte" >  <i class="fas fa-download"></i>
   Exportar reporte
</a>
<button class="botonOpciones" (click)="abrirPanelFiltro()">
  <span class="material-icons">search</span> <!-- Icono de lupa/búsqueda -->
</button>
