

<nav class="navbar">
  <div class="navbar-container">
    <a class="navbar-logo" >Estado de Adds</a>
    <ul class="navbar-menu">

      <li class="navbar-item">
        <a class="navbar-link" href="/paginaprincipalanunciante">Pagina principal</a>
      </li>
    </ul>
  </div>
</nav>




<div class="registro-container">
  <div class="registro-box">
    <h2>Adquiere tu Anuncio</h2>
    <form (ngSubmit)="onSubmit()" enctype="multipart/form-data">

      <div class="form-group">
        <select id="tipo_anuncio" required [(ngModel)]="tipoAnuncio" name="tipo_anuncio" (change)="calcularPrecio()">
          <option value="" disabled selected hidden></option>
          <option value="texto" data-precio="precioTexto">Texto</option>
          <option value="imagen" data-precio="precioImagen">Imagen</option>
          <option value="video" data-precio="precioVideo">Video</option>
        </select>
        <label for="tipo_anuncio" *ngIf="!seleccionoTipoAnuncio">Tipo de anuncio:</label>
        <label class="selects" for="tipo_anuncio" *ngIf="seleccionoTipoAnuncio">Tipo de anuncio:</label>
      </div>

      <div class="form-group">
        <select id="vigencia" class="select_vigencia" [(ngModel)]="vigencia" name="vigencia" (change)="calcularPrecio()">
          <option value="" disabled selected hidden></option>
          <option value="1" data-multiplicador="vigencias[0]">{{vigencias[0].vigencia}} Días</option>
          <option value="2" data-multiplicador="vigencias[1]">{{vigencias[1].vigencia}} Días</option>
          <option value="3" data-multiplicador="vigencias[2]">{{vigencias[2].vigencia}} Días</option>
          <option value="4" data-multiplicador="vigencias[3]">{{vigencias[3].vigencia}} Días</option>
        </select>
        <label for="vigencia" *ngIf="!seleccionoVigencia">Vigencia de anuncio:</label>
        <label class="selects" for="vigencia" *ngIf="seleccionoVigencia">Vigencia de anuncio:</label>
      </div>

      <!-- Mostrar el precio calculado -->





      <div class="form-group">

        <input class="imput_fecha" type="date" placeholder="fecha" [(ngModel)]="fechaPublicacion" name="fecha_publicacion">
        <label  for="fecha_publicacion">Selecciona una fecha:</label>
        </div>


        <br>
     <div class="form-group">





        <input *ngIf="tipoAnuncio === 'texto'" class="imput_anuncioTexto" type="text" [(ngModel)]="anuncioTexto" name="anuncioTexto">
        <label class="selects"   for="anuncioTexto" *ngIf="tipoAnuncio === 'texto'" >Ingrese su anuncio de texto:</label>



        <input *ngIf="tipoAnuncio === 'imagen'" name="imagen" class="input_imagen" type="file" (change)="onFileChange($event)" accept="image/jpeg, image/png, image/gif">
<label class="selects" for="imagen" *ngIf="tipoAnuncio === 'imagen'">Seleccione su imagen</label>

<div  class="form-group" *ngIf="imagenVisualizacion">

  <img  class="panelImagen" [src]="imagenVisualizacion" alt="" >


</div>
        <input *ngIf="tipoAnuncio === 'video'" class="input_video" type="text"   [(ngModel)]="anuncioVideo" name="anuncioVideo">
        <label class="selects"   for="video" *ngIf="tipoAnuncio === 'video' " >Ingrese su url de su video</label>


      </div>

      <button id="boton_comprar" type="submit" class="boton_comprar" value="comprar">comprar</button>


       </form>
  </div>



</div>

<div class="panelPrecios">
  <br>
<h3>Precio de anuncio texto: {{precioTexto}}.00Q</h3>
  <br> <br>
  <br>
<h3>Precio de anuncio imagen:  {{precioImagen}}.00Q</h3>
  <br> <br>
  <br>
<h3>Precio de anuncio video: {{precioVideo}}.00Q</h3>
<div *ngIf="precioTotal > 0">

  <br> <br>
  <br>
  <p>Precio total: {{ precioTotal | currency }}</p>
</div>
</div>
