
  <nav class="navbar">
    <div class="navbar-container">
      <a class="navbar-logo" >REVISTAS HUB</a>
      <ul class="navbar-menu">
        <li class="navbar-item">
          <a class="navbar-link" routerLink="/RepostesAdministrado">Reportes</a>
        </li>
        <!-- Configuración de precios de anuncios con menú desplegable -->
        <li class="navbar-item dropdown">
          <a class="navbar-link" >Configuración de anuncios</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-link" routerLink="/configuracionCostoAnuncios">Configuración de precios de anuncios</a></li>
            <li><a class="dropdown-link" routerLink="/configuracionVigenciaAnuncios">Configuración de vigencia de anuncios</a></li>
            <li><a class="dropdown-link" routerLink="/estadoAnunciosAdmin">Configuraciòn estado de anuncios</a></li>

          </ul>
        </li>

        <li class="navbar-item">
          <a class="navbar-link" >Configuracio de Revistas</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-link" routerLink="/aprobarRevista">Aprobaciòn Revistas</a></li>
            <li><a class="dropdown-link" routerLink="/modificacionCostoOcultacion">Actualizar costo bloqueo de adds</a></li>
            <li><a class="dropdown-link" routerLink="/modificacionCostoAsociado">Actualizar costo asociado</a></li>
            <li><a class="dropdown-link" routerLink="/modificacionCostoAsociado(Global)">Actualizar costo asociado(GLOBAL)</a></li>



          </ul>
        </li>
        <li class="navbar-item">
          <a class="navbar-link" routerLink="/perfil">Mi perfil</a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link" href="/logout">Cerrar sesión</a>
        </li>
      </ul>
    </div>
  </nav>

  <h1>REVISTAS HUB</h1>
  <h1 class="h12">Administraciòn</h1>

  <router-outlet></router-outlet>

